@{
    ViewData["Title"] = "About";
}

<h1 class="mb-4">About Our Company</h1>

<!-- Bootstrap Alert -->
<div class="alert alert-info" role="alert">
    TechNova Solutions is committed to delivering innovative and reliable technology solutions.
</div>

<!-- Bootstrap List Group -->
<ul class="list-group">
    <li class="list-group-item">Experienced software development team</li>
    <li class="list-group-item">High quality consulting services</li>
    <li class="list-group-item">Professional training programs</li>
    <li class="list-group-item">Trusted by clients worldwide</li>
</ul>

