@model List<NorthWindCatalog.Services.DTOs.CategoryDto>

<div class="container mt-4">
    <h2>Categories</h2>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card m-2 shadow">
                    <img src="@Url.Content(item.ImageUrl)" class="card-img-top" style="height:200px; object-fit:cover;" />

                    <div class="card-body text-center">
                        <h5>@item.CategoryName</h5>

                        <a href="/Products/ByCategory/@item.CategoryId" class="btn btn-primary">
                            View Products
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

