@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To FinTrack</h1>
    </br>
    <h2>You can Track All your Financial Transactions Here.</h2>
</div>
